:root{
  --text-color-2:#909090;
  --color-fondo:#222222;

}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;

  font-family: BebasRegular;
}

@font-face {
  font-family: BebasRegular;
  src: url(BebasNeueRegular.otf);

}

@font-face {
  font-family: BebasBook;
  src: url(BebasNeueBook.otf);

}

li > a {
  color: white;
}

a{
  color: #222222;
}

a:hover {
  text-decoration: underline;
}



.Header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 130px;
  background-color: var(--color-fondo);
  box-shadow:   2px 2px 5px 2px #999;
}

li {
  list-style: none;
}



.links{
  font-size: 20px;
  margin: 20px;  
  color: white;
}



.Landing{
  padding-top: 100px;

}

.box{
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: #cdcdcd;
  border-radius: 1px;
}

.titulo{
  padding: 20px;
}

.sub-box{
  margin-top: 50px;
  font-size: 25px;
}



.primary{
  width: 100px;
  padding: 5px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px 5px 5px 5px;
  background-color: #393939;
  color: white;
}

.Footer{
  margin-top: 200px;
  height: 120px;
  background-color: var(--color-fondo); 
  color: white;
  font-family: BebasBook;
  font-size: 20px;
  padding: 10px;

}

.forma{
  width: 75px;
}


/* REGISTRO */



.Registro{
  width: 300px;
  height: 100%;
  margin: 100px;
  background-color: #dbdbdb;
}

.Titulos-Box{
  padding: 30px;
}

input{ 
  width: 200px;
  margin: auto;

}



.boton{
  width: 200px;
  border-radius: 5px 5px 5px 5px;
  background-color: #393939;
  color: white;
  border: none;
  outline: none;
  font-size: 30px;
  margin: 40px;

}

.sacar{
  border: none;
  outline: none;
}

/* INICIO DE SESION */

.Ingreso{
  margin-top: 100px;
  width: 300px;
  height: 100%;
  background-color: #dbdbdb;
  align-items: center;
}


.input-box{
  margin-top: 40px;

  border: none;
  height: 25px;
  font-size: 15px;
  
}

.cartas{
  width: 100px;
}